.popup.agreement
    .popup__steps.popupSteps
        .popupSteps__step.popupStep.popupStep--made
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 1
            %span.popupStep__info
                = "Введите"
                %br
                = "номер телефона"
        .popupSteps__step.popupStep.popupStep--made
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 2
            %span.popupStep__info
                = "Заполните"
                %br
                = "анкету"
        .popupSteps__step.popupStep.popupStep--made
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 3
            %span.popupStep__info
                = "Загрузите фото"
                %br
                = "паспорта"
        .popupSteps__step.popupStep.popupStep--current
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 4
            %span.popupStep__info
                = "Оформите"
                %br
                = "услугу"
    .profile__titleStep.for-mobile
        = "Шаг 4: Оформите услугу"
    .profile__lineStep.for-mobile

    .popup__attention.popupAttention
        %span.popupAttention__info Осталось менее 30 секунд

    %form.popup__form.form{:action => "", :method => ""}
        %p.form__title.formBlockTitle
            = "Срок оплаты"
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer.fieldContainer--period.is-checked
                    %input.fieldContainer__fieldPeriod{:name => "period", :type => "radio"}
                    .fieldContainer__labelWrapper.labelRadioWrapper
                        .labelRadioWrapper__labelRadio.labelRadio.clearfix
                            .labelRadio__info
                                = "3 месяца"
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer.fieldContainer--period
                    %input.fieldContainer__fieldPeriod{:name => "period", :type => "radio"}
                    .fieldContainer__labelWrapper.labelRadioWrapper
                        .labelRadioWrapper__labelRadio.labelRadio.clearfix
                            .labelRadio__info
                                = "6 месяцев"

        .form__hr
        %p.form__title.formBlockTitle
            = "Ваш график платежей"
        .form__scheduleWrapper.scheduleWrapper
            .scheduleWrapper__paymentScheduleWrapper.paymentScheduleWrapper
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "1"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "2"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "3"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
            .scheduleWrapper__paymentScheduleWrapper.paymentScheduleWrapper
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "1"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "2"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "3"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "4"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "5"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;
                .paymentScheduleWrapper__paymentSchedule.paymentSchedule.cols
                    .col_3.paymentSchedule__info
                        %span.for-desctop
                            = "Первый платеж"
                        %span.for-mobile
                            = "6"
                    .col_3.paymentSchedule__date
                        = "28 сентября 2016"
                    .col_3.paymentSchedule__sum
                        = "6400"
                        &#8381;

        .form__agreement.popupAgreement
            %a.popupAgreement__download{:href => ""}
                = "Читать полностью"

        .form__hr
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer.fieldContainer--checkbox
                %input.fieldContainer__field{:name => "", :type => "checkbox"}
                %span.fieldContainer__checkboxIcon
                %p.fieldContainer__checkboxInfo
                    = "Я согласен с общими и индивидуальными условиями договора потребительского займа"
        .form__block.formBlock.formBlock--margin
            %label.formBlock__fieldContainer.fieldContainer.fieldContainer--checkbox
                %input.fieldContainer__field{:name => "", :type => "checkbox"}
                %span.fieldContainer__checkboxIcon
                %p.fieldContainer__checkboxInfo
                    = "Я хочу подключить услугу СМС-информирование за 49 рублей в месяц ("
                    %a{:href => ""}
                        = "условия оказания услуги"
                    = ")"

        %p.form__title.formBlockTitle.formBlockTitle--small
            = "Для подписания оферты введите код, полученный в СМС-сообщении"
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label
                        = "СМС-код"
                    %input.fieldContainer__field{:name => "", :type => "text"}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = "Поле заполнено неверно."
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %span.linkButton.linkButton--blue.linkButton--sms.send-sms
                    = "Выслать еще раз"
            .formBlockWrapper__sendHidden.formSendHidden
                .formsendHidden__info.formSendHiddenInfo
                    = "Повторная отправка возможна через"
                    %span.formSendHiddenInfo__time 90
                    = "секунд"

        .form__hr
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--continue
                %span.linkButton.linkButton--orange
                    = "Завершить"
            .formBlockWrapper__formBlock.formBlock.formBlock--reset
                %span.linkButton.linkButton--white
                    = "Назад"
