%section.popup.profile
    %p.popup__title.popupTitle
        = 'Анкета клиента'
        %span.popupTitle__close.popup-close-new

    .popup__popupSecure.popupSecure.for-desctop
        .popupSecure__info
            = 'Передача данных осуществляется по защищенному каналу.'
            =  'Персональные данные обрабатываются в соответствии с'
            =  'российским законодательством.'

    %form.popup_form.form.form--full{:action => '', :method => 'post'}
        %p.form__title.formBlockTitle
            = 'Личные данные'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Фамилия
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Имя
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Отчество
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--3_2
                .formBlock__fieldContainer.fieldContainer.fieldContainer--radio.clearfix
                    %label.fieldContainer__radioLabel.radioLabel
                        %input.radioLabel__field{:name => 'sex', :type => 'radio'}
                        %span.radioLabel__button Мужской пол
                    %label.fieldContainer__radioLabel.radioLabel
                        %input.radioLabel__field{:name => 'sex', :type => 'radio'}
                        %span.radioLabel__button Женский пол
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Дата рождения
                    %input.fieldContainer__field.field-date{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'

        .form__hr
        %p.form__title.formBlockTitle
            = 'Паспортные данные'
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Серия и номер паспорта
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Дата выдачи
                    %input.fieldContainer__field.field-date{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Кем выдан
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'

        .form__hr
        %p.form__title.formBlockTitle
            = 'Фактический адрес проживания'
        .formBlockWrapper__formBlock.formBlock.for-mobile
            %p.formBlock__info
                = 'Мы автоматически найдем ваш регион'
                =  'и город по введенному индексу. Это необязательно.'
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Ваш индекс
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--3_2.for-desctop
                %p.formBlock__info
                    = 'Мы автоматически найдем ваш регион'
                    =  'и город по введенному индексу. Это необязательно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Область или регион
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %select.field_select{:placeholder => 'Город или населенный пункт'}
                %option{:value => ''} Выберите город
                %option{:value => '1'} Москва
                %option{:value => '2'} Челябинск
                %option{:value => '3'} Волгоград
                %option{:value => '4'} Владивосток
                %option{:value => '5'} Иркутск
            / span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Улица или переулок
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__formBlockWrapper.formBlockWrapper.formBlockWrapper--address.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Номер дома
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Корпус
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Квартира
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'

        .form__hr
        %p.form__title.formBlockTitle
            = 'Контактные данные'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Ваш e-mail
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Домашний телефон
                %input.fieldContainer__field.field-mobile{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %span.formBlock__remark Необязательно
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'

        .form__hr
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer.fieldContainer--checkbox
                %input.fieldContainer__field{:name => '', :type => 'checkbox'}
                %span.fieldContainer__checkboxIcon
                %p.fieldContainer__checkboxInfo
                    = 'Я соглашаюсь с'
                    %a{:href => '#'}
                        = 'Правилами предоставления микрозаймов'
                    = ', ознакомлен с'
                    %a{:href => '#'}
                        = 'информацией об условиях предоставления,'
                        =  'использования и возврата потребительского займа.'
        .form__block.formBlock.formBlock--margin
            %label.formBlock__fieldContainer.fieldContainer.fieldContainer--checkbox
                %input.fieldContainer__field{:name => '', :type => 'checkbox'}
                %span.fieldContainer__checkboxIcon
                %p.fieldContainer__checkboxInfo
                    = 'Принимаю'
                    %a{:href => '#'}
                        = 'Соглашение об использовании АСП'
                    = ','
                    %a{:href => '#'}
                        = '«Согласие на обработку персональных данных и иные обязательства»'

        %p.form__title.formBlockTitle.for-desctop
            = 'Введите код, полученный в СМС-сообщении'
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label СМС-код
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %span.linkButton.linkButton--blue.linkButton--sms.send-sms
                    = 'Выслать еще раз'
            .formBlockWrapper__sendHidden.formSendHidden
                .formsendHidden__info.formSendHiddenInfo
                    = 'Повторная отправка возможна через'
                    %span.formSendHiddenInfo__time 90
                    =  'секунд'

        .form__hr
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--continue
                %span.linkButton.linkButton--orange
                    = 'Продолжить'
            .formBlockWrapper__formBlock.formBlock.formBlock--reset
                %span.linkButton.linkButton--white.popup-close-new
                    = 'Отменить'
