%section.popup.profile
    .popup__steps.popupSteps
        .popupSteps__step.popupStep.popupStep--made
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 1
            %span.popupStep__info
                = "Введите"
                %br
                = "номер телефона"
        .popupSteps__step.popupStep.popupStep--current
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 2
            %span.popupStep__info
                = "Заполните"
                %br
                = "анкету"
        .popupSteps__step.popupStep
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 3
            %span.popupStep__info
                = "Загрузите фото"
                %br
                = "паспорта"
        .popupSteps__step.popupStep
            %p.popupStep__number.popupStepNumber
                %span.popupStepNumber__info 4
            %span.popupStep__info
                = "Оформите"
                %br
                = "услугу"
    .profile__titleStep.for-mobile
        = "Шаг 2: Заполните анкету"
    .profile__lineStep.for-mobile

    .popup__attention.popupAttention
        %span.popupAttention__info Оформление займет всего 2 минуты!

    %form.popup__form.form.form--full{:action => '', :method => 'post'}
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Фамилия
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Имя
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Отчество
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--3_2
                .formBlock__fieldContainer.fieldContainer.fieldContainer--radio.clearfix
                    %label.fieldContainer__radioLabel.radioLabel
                        %input.radioLabel__field{:name => 'sex', :type => 'radio'}
                        %span.radioLabel__button Мужской пол
                    %label.fieldContainer__radioLabel.radioLabel
                        %input.radioLabel__field{:name => 'sex', :type => 'radio'}
                        %span.radioLabel__button Женский пол
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Дата рождения
                    %input.fieldContainer__field.field-date{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'

        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Серия и номер паспорта
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Дата выдачи паспорта
                    %input.fieldContainer__field.field-date{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Кем выдан паспорт
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'

        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Ваша область или регион
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %select.field_select{:placeholder => 'Ваш город или населенный пункт'}
                %option{:value => ''} Выберите город
                %option{:value => '1'} Москва
                %option{:value => '2'} Челябинск
                %option{:value => '3'} Волгоград
                %option{:value => '4'} Владивосток
                %option{:value => '5'} Иркутск
            / span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Ваша улица или переулок
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__formBlockWrapper.formBlockWrapper.formBlockWrapper--address.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Номер дома
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Корпус
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--3
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label Квартира
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'

        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Ваш e-mail
                %input.fieldContainer__field{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'
        .form__block.formBlock
            %label.formBlock__fieldContainer.fieldContainer
                .fieldContainer__label Домашний телефон
                %input.fieldContainer__field.field-mobile{:name => '', :type => 'text'}
            %span.formBlock__reset.field-reset
            %span.formBlock__remark Необязательно
            %p.formBlock__errorMessage
                = 'Поле заполнено неверно.'

        .popup__popupSecure.popupSecure.for-desctop
            .popupSecure__info
                = 'Передача данных осуществляется по защищенному каналу.'
                =  'Персональные данные обрабатываются в соответствии с'
                =  'российским законодательством.'

        .form__block.formBlock.formBlock--margin
            %label.formBlock__fieldContainer.fieldContainer.fieldContainer--checkbox
                %input.fieldContainer__field{:name => '', :type => 'checkbox'}
                %span.fieldContainer__checkboxIcon
                %p.fieldContainer__checkboxInfo
                    = 'Принимаю'
                    %a{:href => '#'}
                        = 'Соглашение об использовании АСП'
                    = ','
                    %a{:href => '#'}
                        = '«Согласие на обработку персональных данных и иные обязательства»'

        %p.form__title.formBlockTitle.for-desctop
            = 'Введите код, полученный в СМС-сообщении'
        .form__formBlockWrapper.formBlockWrapper.formBlockWrapper--sms.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %label.formBlock__fieldContainer.fieldContainer
                    .fieldContainer__label СМС-код
                    %input.fieldContainer__field{:name => '', :type => 'text'}
                %span.formBlock__reset.field-reset
                %p.formBlock__errorMessage
                    = 'Поле заполнено неверно.'
            .formBlockWrapper__formBlock.formBlock.formBlock--2
                %span.linkButton.linkButton--blue.linkButton--sms.send-sms
                    = 'Выслать еще раз'
            .formBlockWrapper__sendHidden.formSendHidden
                .formsendHidden__info.formSendHiddenInfo
                    = 'Повторная отправка возможна через'
                    %span.formSendHiddenInfo__time 90
                    =  'секунд'

        .form__hr
        .form__formBlockWrapper.formBlockWrapper.clearfix
            .formBlockWrapper__formBlock.formBlock.formBlock--continue
                %span.linkButton.linkButton--orange
                    = 'Продолжить'
            .formBlockWrapper__formBlock.formBlock.formBlock--reset
                %span.linkButton.linkButton--white.popup-close
                    = 'Отменить'
